//tamaños de foto de perfil
$tamanio_inicio:10vh;
$tamanio_otros:8vh;
$tamanio_menuinicio:8vh;
$tamanio_menuotros:5vh;
//colores modo oscuro
$color_primario_oscuro:#131313;
$color_secundario_medio:#2B2B2B;
$color_terciario_claro:#86868B;
$color_contraste_claro:#FFFFFF;
$color_contraste_oscuro:#1561f0;
//colores modo claro
$colorc_primario_oscuro:#260101;
$colorc_secundario_medio:#A64F03;
$colorc_terciario_claro:#A66D03;
$colorc_contraste_oscuro:#592202;
$colorc_contraste_claro:#F2B84B;
